th{
  border: 0;
 
}
td{
  line-height: 2rem;
  border-bottom:1px solid #000;
  text-align: center;
}
.wrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  &__search{
    input{
      position: absolute;
      bottom: 0;
      line-height: 2rem;
      border-radius: 10px; width: 250px;
      border:1px solid rgba($color: #000000, $alpha: .2);
      padding-left: 1rem;
    }
  }
  &__button{
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #ffd700;
    color: blue;
    cursor: pointer;
  }
}
.wrap__list{
  min-width: 700px;
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  &--table{
    overflow-x: scroll;
    border-collapse: collapse;
    width: 100%;
    .table__header{
      line-height: 1.5rem;
      background-color: rgba($color: #000000, $alpha: .1);
    }
    .logo{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .controls{
      position: relative;
      .drop__down{
        position: absolute;
        top: 0;
        right: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 2rem;
        overflow: hidden;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        &--item{
          display: block;
          text-align: center;
          padding: 0 10px;
          &:hover{
            background-color: rgba($color: #000000, $alpha: .1);
            a{
              cursor: pointer;
            }
          }
        }
        &:hover{
          z-index: 1;
          height: 6rem;
        }
      }
    }
  }
  .paginator{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    &__total{
  
    }
    &__show{
      .next{
        cursor: pointer;
      }
      select{
        width: 50px;
      }
    }
  }
}
